{% extends "navbar_out.html" %}
{% block content %}
	<style>
		body{
  text-align: center;
  margin-top: 15%;
  background-color: #E5D9B6;
}
.container{
  width:30%;
  border:3px solid black;
  border-radius: 10px;
  margin:auto;
  padding-bottom: 3%;
  background-color:#A4BE7B;
}
h1{
  padding:3%;
}

.cred-page{
  display: flex;
  align-items: center;
  justify-content: center;
}

	</style>

  <div class="container">
    <h1>LOGIN</h1>
    <form class="" action="index.html" method="post">
      <div class="cred-page">
      <table>
        <tr>
          <td>
            <label for="">Username:</label>
          </td>
          <td>
            <input type="text" name="username" value=""><br><br>
          </td>
        </tr>
        <tr>
          <td>
            <label for="">Email:</label>
          </td>
          <td>
            <input type="email" name="email" value=""><br><br>
          </td>
        </tr>
        <tr>
          <td>
            <label for="">Password: </label>
          </td>
          <td>
            <input type="password" name="password" value=""><br><br>
          </td>
        </tr>
        </table>
      </div>
      <div class="">
        <button type="button" class="btn btn-success">Login</button>
      </div>
    </form>
  </div>
  <p>Don't have an account?<a href="register.html">Register</a></p>
{% endblock %}